@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h2>@ViewData["Title"]</h2>
<p>
    An email has been sent with instructions to reset your password. If you do not recieve an email within 10 minutes, please try again.
</p>
