@model BowlingCoreMVC.Models.Series

@{
    ViewData["Title"] = "Edit";
}

@{
    var m = Model;
}
<h2>Edit</h2>







@* The Model.ID here will be in a for each loop later (for each game in series, etc) *@
@foreach (var g in Model.Games)
{
    @await Component.InvokeAsync("EditGame", new { GameID = g.ID })

}

