@model BowlingCoreMVC.Models.Game

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>




@await Component.InvokeAsync("EditGame", new { GameID = Model.ID })

<environment include="Development">
    <script src="~/js/editgame.js" asp-append-version="true"></script>
</environment>

<environment exclude="Development">
    <script src="~/js/editgame.min.js" asp-append-version="true"></script>
</environment>