@model BowlingCoreMVC.Models.Series

@{
    ViewData["Title"] = "Edit";
}

@{
    var m = Model;
}
<h2>Edit</h2>







@* The Model.ID here will be in a for each loop later (for each game in series, etc) *@
@foreach (var g in Model.Games)
{
    @await Component.InvokeAsync("EditGame", new { GameID = g.ID })

}



<input type="button" onclick="TestThisFile()" value="TEST" />




@* TODO: this didn't work in the site.css file?? *@
<style type="text/css">
    .frameBox {
        border: 1px solid black;
        padding: 3px;
        margin-left: 60%;
    }

    .frameBox3 {
        border: 1px solid black;
        padding: 3px;
    }
</style>