@model BowlingCoreMVC.Models.Game

@{
    ViewData["Title"] = "Edit";
}

@{
    var m = Model;
}
<h2>Edit</h2>




@await Component.InvokeAsync("EditGame", new { GameID = Model.ID })

