@model BowlingCoreMVC.Models.Game

@{
    ViewData["Title"] = "Edit";
}

<div class="page-header"><h3>Editing Game from @Model.CreatedDate.ToShortDateString() <small>last modified on @Model.ModifiedDate.ToShortDateString()</small></h3></div>




@await Component.InvokeAsync("EditGame", Model)



<environment include="Development">
    <script src="~/js/editgame.js" asp-append-version="true"></script>
</environment>

<environment exclude="Development">
    <script src="~/js/editgame.min.js" asp-append-version="true"></script>
</environment>
