@{
    ViewData["Title"] = "Home";
}


<div class="body-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
            @*<h3>Environment test:</h3>
            <h3>@ViewData["EnvironmentTest"]</h3>*@
            <div class="col-lg-8">
                <h2 class="text-info">Welcome to BowlingHub!</h2>
                <p>BowlingHub is the place to log all of your bowling scores and view your progress. You will be able to create leagues, log your series/games, see your statistics, and compete on the highscores! Click the Register button above to get started.</p>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
</div>

@*TODO: Revamped home page for logged in user*@

<h1>Test listgroup partial</h1>

<div class="border-primary">
    <ul class="list-group w-25 border-primary">
        <li class="list-group-item">Cras justo odio<small class="float-right">123</small></li>
        <li class="list-group-item">Dapibus ac facilisis in<span class="badge badge-primary badge-pill float-right">14</span></li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
    </ul>
</div>


<partial name="_CardListSingleValue" model='@ViewData["ListSingleValue"]' />

<partial name="_TeamWeekSummary" model='@ViewData["TeamWeekSummary"]' />

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <table class="table table-sm">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>twitter</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

