@{
    ViewData["Title"] = "Home";
}


<div class="body-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-4"></div>
            <h3>Environment test:</h3>
            <h3>@ViewData["EnvironmentTest"]</h3>
            <div class="col-lg-4"></div>
            <div class="col-lg-4"></div>
        </div>
    </div>
</div>