body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}




/* custom */

/*.frameBox {
    border: 1px solid black;
    padding: 3px;
    margin-left: 60%;
}

.frameBox3 {
    border: 1px solid black;
    padding: 3px;
}*/
.GameTable td {
    text-align: center;
    vertical-align: middle;
}

#PinsTable td {
    text-align: center;
    vertical-align: middle;
}

#PinsTable {
    width: 100%;
    max-width: 200px;
}

input[type='checkbox'].pins-checkbox + label:before,
input[type='checkbox'].pins-checkbox + label:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-size: 2.5em;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Unchecked icon
input[type='checkbox'].pins-checkbox + label:before {
    //content: "\e157";
    //content: "\e090";
    //content: "\e089";
    //content: "\e017";
    content: "\25cb";
}
*/

input[type='checkbox']:checked.pins-checkbox + label:before { /*checked icon*/
    //content: "\e165";
    content: "\25cf";
}

input[type='checkbox']:disabled.pins-checkbox + label:before {
    content: "\2298"; //"\e090";
    font-size: 2em;
}

/*
    1: \2460
    2: \2461
    3: \2462
    4: \2463
    5: \2464
    6: \2465
    7: \2466
    8: \2467
    9: \2468
    10: \2469


*/

input[type='checkbox'][id$="-Missed_1"] + label:before {
    content: "\2460";
}
input[type='checkbox'][id$="-Missed_2"] + label:before {
    content: "\2461";
}
input[type='checkbox'][id$="-Missed_3"] + label:before {
    content: "\2462";
}
input[type='checkbox'][id$="-Missed_4"] + label:before {
    content: "\2463";
}
input[type='checkbox'][id$="-Missed_5"] + label:before {
    content: "\2464";
}
input[type='checkbox'][id$="-Missed_6"] + label:before {
    content: "\2465";
}
input[type='checkbox'][id$="-Missed_7"] + label:before {
    content: "\2466";
}
input[type='checkbox'][id$="-Missed_8"] + label:before {
    content: "\2467";
}
input[type='checkbox'][id$="-Missed_9"] + label:before {
    content: "\2468";
}
input[type='checkbox'][id$="-Missed_10"] + label:before {
    content: "\2469";
}


input[type='checkbox'][id$="-Missed_1"]:checked + label:before {
    content: "\278A";
}

input[type='checkbox'][id$="-Missed_2"]:checked + label:before {
    content: "\278B";
}

input[type='checkbox'][id$="-Missed_3"]:checked + label:before {
    content: "\278C";
}

input[type='checkbox'][id$="-Missed_4"]:checked + label:before {
    content: "\278D";
}

input[type='checkbox'][id$="-Missed_5"]:checked + label:before {
    content: "\278E";
}

input[type='checkbox'][id$="-Missed_6"]:checked + label:before {
    content: "\278F";
}

input[type='checkbox'][id$="-Missed_7"]:checked + label:before {
    content: "\2790";
}

input[type='checkbox'][id$="-Missed_8"]:checked + label:before {
    content: "\2791";
}

input[type='checkbox'][id$="-Missed_9"]:checked + label:before {
    content: "\2792";
}

input[type='checkbox'][id$="-Missed_10"]:checked + label:before {
    content: "\2793";
}