@model BowlingCoreMVC.Models.League

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>League</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input asp-for="CreatedByID" class="d-none" />
            <input asp-for="CreatedDate" class="d-none" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LocationID" class="control-label"></label>
                <select asp-for="LocationID" asp-items="@Model.Locations" class="form-control">
                    <option>---Location---</option>
                </select>
                <span asp-validation-for="LocationID" class="text-danger"></span>
            </div>

            <div class="form-group" id="grpDefaultNumOfGames">
                <label asp-for="DefaultNumOfGames" class="control-label"></label>
                <input asp-for="DefaultNumOfGames" class="form-control" id="NumOfGames" min="2" max="9" />
                <span asp-validation-for="DefaultNumOfGames" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LeagueDay" class="control-label"></label>
                <select asp-for="LeagueDay" asp-items="@Model.Days" class="form-control" id="ddlDays">
                    @*<option value="10">---League Day---</option>*@
                </select>
                <span asp-validation-for="LeagueDay" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Occurance" class="control-label"></label>
                <select asp-for="Occurance" asp-items="@Model.Occurances" class="form-control"></select>
                <span asp-validation-for="Occurance" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

