@model BowlingCoreMVC.Models.UserLeagueTeam

@{
    ViewData["Title"] = "Create";
}

<script>
    $(document).ready(function () {
        $("#ddlTeams").html("<option value='0'>No Team</option>");
        $("#ddlLeagues").change(function () {
            // Code for binding Teams ddl here
            //@*var url = '@Url.Content("~/")' + 'Leagues/GetTeams';*@
            var url = '@Url.Action("GetTeams", "Leagues")';
            
            $.getJSON(url, { LeagueID: $('#ddlLeagues').val() }, function (data) {
                var items = '';
                $("#ddlTeams").empty();
                items += "<option value='0'>No Team</option>";
                $.each(data, function (i, team) {
                    items += "<option value='" + team.value + "'>" + team.text + "</option";
                });
                $("#ddlTeams").html(items);
            });
        });
    });
</script>

<h2>Request to Join a League</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="RequestToJoin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @{ 
                var x = ViewBag.SelectListLeagues;

            }

            
            <div class="form-group">
                <label asp-for="LeagueID" class="control-label"></label>
                <select asp-for="LeagueID" asp-items="@Model.Leagues" class="form-control" id="ddlLeagues" >
                    <option>Select League</option>
                </select>

                @*<span asp-validation-for="LeagueID" class="text-danger"></span>*@
            </div>

            <div class="form-group">
                <label asp-for="TeamID" class="control-label"></label>
                <select asp-for="TeamID" asp-items="@(new SelectList(string.Empty, "ID", "TeamName"))" class="form-control" id="ddlTeams" />
                    
                <span asp-validation-for="TeamID" class="text-danger"></span>
            </div>

            
            <div class="form-group">
                <input type="submit" value="Join" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
